* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

aside {
    flex: 0 0 280px;
    background-color: #c7c9cf;
    font-weight: 700;
    padding: 40px 20px 20px;
}

main {
    flex: 1;
    padding: 20px;
}

.sidebar__section-title {
    margin-bottom: 5px;
}

.sidebar__nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
    margin-left: 5px;
}

.sidebar__nav-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    flex: 1;
}

.sidebar__nav-item-icon {
    height: 25px;
    width: auto;
}

#filtersSection {
    padding-bottom: 15px;
}